ci:
  autofix_prs: false
  autoupdate_schedule: quarterly

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: no-commit-to-branch
  - id: debug-statements
  - id: check-merge-conflict
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-shebang-scripts-are-executable
  - id: check-executables-have-shebangs
  - id: check-toml

- repo: https://github.com/python-poetry/poetry
  rev: 1.6.0
  hooks:
  - id: poetry-check
  - id: poetry-lock
    args: [--no-update, --check]
  - id: poetry-export
    args: [--without-hashes, --output, requirements/requirements.txt]
    name: poetry-export-requirements
  - id: poetry-export
    args: [--without-hashes, --only, dev, --output, requirements/requirements-dev.txt]
    name: poetry-export-dev-requirements
