cfgv==3.3.1 ; python_full_version >= "3.10.11" and python_version < "3.12"
contourpy==1.0.7 ; python_full_version >= "3.10.11" and python_version < "3.12"
cycler==0.11.0 ; python_full_version >= "3.10.11" and python_version < "3.12"
distlib==0.3.6 ; python_full_version >= "3.10.11" and python_version < "3.12"
filelock==3.12.0 ; python_full_version >= "3.10.11" and python_version < "3.12"
fonttools==4.39.3 ; python_full_version >= "3.10.11" and python_version < "3.12"
h5py==3.8.0 ; python_full_version >= "3.10.11" and python_version < "3.12"
identify==2.5.24 ; python_full_version >= "3.10.11" and python_version < "3.12"
kiwisolver==1.4.4 ; python_full_version >= "3.10.11" and python_version < "3.12"
matplotlib==3.7.1 ; python_full_version >= "3.10.11" and python_version < "3.12"
nodeenv==1.7.0 ; python_full_version >= "3.10.11" and python_version < "3.12"
numpy==1.24.3 ; python_full_version >= "3.10.11" and python_version < "3.12"
packaging==23.1 ; python_full_version >= "3.10.11" and python_version < "3.12"
pillow==9.5.0 ; python_full_version >= "3.10.11" and python_version < "3.12"
platformdirs==3.5.0 ; python_full_version >= "3.10.11" and python_version < "3.12"
pre-commit==3.3.1 ; python_full_version >= "3.10.11" and python_version < "3.12"
pyparsing==3.0.9 ; python_full_version >= "3.10.11" and python_version < "3.12"
python-dateutil==2.8.2 ; python_full_version >= "3.10.11" and python_version < "3.12"
pyyaml==6.0 ; python_full_version >= "3.10.11" and python_version < "3.12"
setuptools==67.7.2 ; python_full_version >= "3.10.11" and python_version < "3.12"
six==1.16.0 ; python_full_version >= "3.10.11" and python_version < "3.12"
virtualenv==20.23.0 ; python_full_version >= "3.10.11" and python_version < "3.12"
